/.bundle
/vendor/bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/.keep
/storage/*
!/storage/.keep
/public/assets
.byebug_history
/config/master.key
/config/credentials/*.key
.env
.env.local
node_modules/
frontend/node_modules/
frontend/dist/
yarn-error.log
coverage/
.DS_Store
